<div class="container-fluid mt-3">
    <h2>Your History</h2>
    <% if @interactions.count > 0 %>
        <div class="card">
          <ul class="list-group list-group-flush">
            <% @interactions.each do |interaction| %>
                <li class="list-group-item">
                    <div class="row">
                        <% interaction_person = Person.find(interaction.person_id) %>
                        <% interaction_item = Item.find(interaction.item_id) %>
                        <div class="col-2">
                            <div class="row justify-content-end">
                                <b><%= interaction.date.localtime.to_formatted_s(:long_ordinal) %>:</b>
                            </div>
                        </div>
                        <div class="col-10">
                            <% if interaction.requested? %>
                                <%= link_to interaction_person.fullname,
                                        person_path(interaction_person) %> has requested to borrow your item <%= link_to interaction_item.name, item_path(interaction_item) %>
                            <% end %>

                            <% if interaction.approved? %>
                                You have approved <%= link_to interaction_person.fullname,
                                        person_path(interaction_person) %> to borrow your item <%= link_to interaction_item.name, item_path(interaction_item) %>
                            <% end %>

                            <% if interaction.returned? %>
                                <%= link_to interaction_person.fullname,
                                        person_path(interaction_person) %> has returned your item <%= link_to interaction_item.name, item_path(interaction_item) %>
                            <% end %>

                            <% if interaction.available? %>
                                successful transaction with <%= link_to interaction_person.fullname,
                                        person_path(interaction_person) %>
                            <% end %>
                        </div>
                    </div>
                </li>
            <% end %>
          </ul>
        </div>
    <% else %>
        <div class="row justify-content-center">
            <p>Looks like you have no history yet</p>
        </div>
    <% end %>
</div>