<p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logged in as <strong> <%= current_user.email %></strong>.
      <%= link_to 'View profile', profile_path, :class => 'navbar-link' %> |
      <%= link_to 'Edit Login Settings', edit_user_registration_path %> |
      <%= link_to 'Your Items', :controller => :items, :action => :index, :your_items => 'true' %> |
      <%= link_to 'Borrowed Items', :controller => :items, :action => :index, :your_items => 'false' %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class=> 'navbar-link' %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
</p>

<button id="add-item-button" type="button" onclick="showAddItem()">Add Item!</button>

<div id="add-item">
<%= form_with model: @item, local: true do |form| %>
 
<% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description%>
  </p>

  <p>
    <%= form.label :start_date %><br>
    <%= form.text_area :start_date%>
  </p>

  <p>
    <%= form.label :end_date %><br>
    <%= form.text_area :end_date%>
  </p>

  <p>
    <%= form.label :category %><br>
    <%= form.text_area :category%>
  </p>
 
  <p>
    <%= form.submit %>
  </p>

  <button id="hide-add-item-button" type="button" onclick="hideAddItem()">Back</button>
 
<% end %>
</div>

<script>
  document.getElementById("add-item").style.display = "none";
  function showAddItem() {
    var x = document.getElementById("add-item");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
    document.getElementById("add-item-button").style.display = "none";
  }
  function hideAddItem() {
    var x = document.getElementById("add-item");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
    document.getElementById("add-item-button").style.display = "block";
  }
</script>