<p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logged in as <strong> <%= current_user.email %></strong>.
      <%= link_to 'View profile', profile_path, :class => 'navbar-link' %> |
      <%= link_to 'Edit Login Settings', edit_user_registration_path %> |
      <%= link_to 'Your Items', :controller => :items, :action => :index, :your_items => 'true' %> |
      <%= link_to 'Borrowed Items', :controller => :items, :action => :index, :your_items => 'false' %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class=> 'navbar-link' %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
</p>

<h1> Items to Borrow </h1>
<table>
    <% if @all_items %>
        <% @all_items.each do |item| %>
            <tr>
                <td><%= link_to item.name, item_path(item) %></td>
            </tr>
        <% end %>
    <% end %>
</table>

<%= link_to 'Add Item', new_item_path %>
