<h1>Notifications</h1>

<table>
    <% if @interactions %>
        <% @interactions.each do |interaction| %>
        	<% interaction_person = Person.find(interaction.person_id) %>
        	<% interaction_item = Item.find(interaction.item_id) %>
            <tr>
            	<% if interaction.requested? %>
            		<td><%= interaction_person.fname %>
                        <%= interaction_person.lname %> has requested to borrow your item <%= interaction_item.name %></td>
            		<% last_transation_of_item = @interactions.where(item_id: interaction.item_id).first %>
            		<td> <%= link_to_if !last_transation_of_item.approved?,
                             'Approve',
                             {controller: :interactions,
                             action: :create,
                             item_id: interaction.item_id,
                             interaction: {
                                 request_type: 1,
                                 start_date: interaction.start_date,
                                 end_date: interaction.end_date,
                                 person_id: interaction.person_id}}, method: :post %> </td>
            	<% end %>
            </tr>
        <% end %>
    <% end %>
</table>

<%= link_to 'Back', homepage_index_path %>
