<div class='container-fluid mt-3'>
    <% if @is_current_user %>
        <%= link_to 'Edit Profile Information', edit_person_path %>
    <% end %>

	<div class='row'>
		<div class='col-4'>
			<div class="card">
	        	<div class="card-body">
	        		<div class='row justify-content-center'>
	        			<div class="col">
		        			<%= image_tag(@person.avatar, style:"width:100%", :class => "dblock w-100 rounded-circle") %>
		        			<p>
							  <strong>First Name:</strong>
							  <%= @person.fname %>
							</p>
							<p>
							  <strong>Last Name:</strong>
							  <%= @person.lname %>
							</p>
                            <% if @is_current_user %>
    							<p>
    							  <strong>Street Address:</strong>
    							  <%= @person.street %>
    							</p>
                                <p>
                                  <strong>City:</strong>
                                  <%= @person.city %>
                                </p>
                                <p>
                                  <strong>Province:</strong>
                                  <%= @person.province %>
                                </p>
                                <p>
                                  <strong>Country:</strong>
                                  <%= @person.country %>
                                </p>
                            <% else %>
                                <p>
                                  <strong>Email:</strong>
                                  <%= User.find_by_id(@person.user_id).email %>
                                </p>
                            <% end %>
							<p>
							  <strong>Phone Number:</strong>
							  <%= @person.phone %>
							</p>
						</div>
	        		</div>
	        	</div>
	        </div>
		</div>
		<div class='col-8'>
			<div class='card'>
	        	<div class="card-body">

	        	</div>
	        </div>
		</div>
	</div>
</div>
