<%= link_to 'Edit Profile Information', profile_edit_path %> |
<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

<p>
  <strong>First Name:</strong>
  <%= @person.fname %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @person.lname %>
</p>
<p>
  <strong>Address:</strong>
  <%= @person.addr %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @person.phone %>
</p>

<%= link_to "Back to Home", homepage_index_path%>