<div class="container-fluid mt-3">
    <h2>Your Notifications</h2>
    <% if @items_overdue.count > 0 or @items_approaching_due_date.count > 0 or @pending_requests.count > 0 or @pending_returns.count > 0 %>
        <% if @items_overdue.count > 0 %>
            <h3 class="pt-3">Overdue</h3>
            <div class="card">
              <ul class="list-group list-group-flush">
                <% @items_overdue.each do |interaction| %>
                    <li class="list-group-item">
                        <div class="row">
                            <% interaction_item = Item.find(interaction.item_id) %>
                            <div class="col-2">
                                <div class="row justify-content-end">
                                    <b><%= interaction.date.localtime.to_formatted_s(:long_ordinal) %>:</b>
                                </div>
                            </div>
                            <div class="col-10">
                                <%= interaction_item.name %> was due on <%= interaction_item.end_date %>
                            </div>
                        </div>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <% if @items_approaching_due_date.count > 0 %>
            <h3 class="pt-3">Reminders</h3>
            <div class="card">
              <ul class="list-group list-group-flush">
                <% @items_approaching_due_date.each do |interaction| %>
                    <li class="list-group-item">
                        <div class="row">
                            <% interaction_item = Item.find(interaction.item_id) %>
                            <div class="col-2">
                                <div class="row justify-content-end">
                                    <b><%= interaction.date.localtime.to_formatted_s(:long_ordinal) %>:</b>
                                </div>
                            </div>
                            <div class="col-10">
                                <%= "#{Item.find_by_id(interaction.item_id).name}" %> you borrowed is due
                                <% if (Date.today - interaction.end_date).to_i == 0 %>
                                    today
                                <% elsif (Date.today - interaction.end_date).to_i == 1 %>
                                    tomorrow
                                <% else %>
                                    in <%= "#{(Date.today - interaction.end_date).to_i}" %> days
                                <% end %>
                            </div>
                        </div>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <% if @pending_requests.count > 0 %>
            <h3 class="pt-3">Requests</h3>
            <div class="card">
              <ul class="list-group list-group-flush">
                <% @pending_requests.each do |interactions| %>
                    <% interactions.each do |interaction| %>
                        <li class="list-group-item">
                            <div class="row">
                                <% interaction_person = Person.find(interaction.person_id) %>
                                <% interaction_item = Item.find(interaction.item_id) %>
                                <div class="col-2">
                                    <div class="row justify-content-end">
                                        <b><%= interaction.date.localtime.to_formatted_s(:long_ordinal) %>:</b>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <%= link_to interaction_person.fullname,
                                        person_path(interaction_person) %>
                                    has requested to borrow your item <%= interaction_item.name %>
                                    <%= link_to 'Approve',
                                        {controller: :interactions,
                                         action: :create,
                                         item_id: interaction.item_id,
                                         interaction: {
                                             request_type: 1,
                                             start_date: interaction.start_date,
                                             end_date: interaction.end_date,
                                             person_id: interaction.person_id}}, method: :post %>
                                </div>
                            </div>
                        </li>
                    <% end %>
                <% end %>
              </ul>
            </div>
        <% end %>

        <% if @pending_returns.count > 0 %>
            <h3 class="pt-3">Returned</h3>
            <div class="card">
              <ul class="list-group list-group-flush">
                <% @pending_returns.each do |interaction| %>
                    <li class="list-group-item">
                        <div class="row">
                            <% interaction_person = Person.find(interaction.person_id) %>
                            <% interaction_item = Item.find(interaction.item_id) %>
                            <div class="col-2">
                                <div class="row justify-content-end">
                                    <b><%= interaction.date.localtime.to_formatted_s(:long_ordinal) %>:</b>
                                </div>
                            </div>
                            <div class="col-10">
                                <%= link_to interaction_person.fullname,
                                    person_path(interaction_person) %>
                             <%= interaction_item.name %>
                             has returned your item
                             <%= link_to 'Confirm',
                                {controller: :interactions,
                                 action: :create,
                                 item_id: interaction.item_id,
                                 interaction: {
                                     request_type: 3,
                                     start_date: interaction.start_date,
                                     end_date: interaction.end_date,
                                     person_id: interaction.person_id}}, method: :post %> |
                             <%= link_to 'Report stolen',
                                 {controller: :interactions,
                                  action: :create,
                                  item_id: interaction.item_id,
                                  interaction: {
                                      request_type: 4,
                                      start_date: interaction.start_date,
                                      end_date: interaction.end_date,
                                      person_id: interaction.person_id}}, method: :post,
                                      data: { confirm: "Are you sure you want report the item as stolen?"} %>
                            </div>
                        </div>
                    </li>
                <% end %>
              </ul>
            </div>
        <% end %>
    <% else %>
        <div class="row justify-content-center pt-5">
            <p>Looks like you have no notifications yet</p>
        </div>
        <div class="row justify-content-center">
            <%= link_to 'Check out some items', homepage_index_path, :class => 'btn btn-blue' %>
        </div>
    <% end %>
</div>
