<%= form_with model: @item, local: true do |form| %>
  <div class='form-group'>
    <%= form.label :name %><br>
    <%= form.text_field :name, :class => 'form-control' %>
    <% if @item.errors.any? %>
      <% if @item.errors[:name] %>
        <% @item.errors[:name].each do |msg| %>
          <small class="form-text text-error">Name <%= msg %></small>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class='form-group'>
    <%= form.label :description %><br>
    <%= form.text_area :description, :class => 'form-control', :row => '3' %>
  </div>

  <div class='form-group'>
    <%= form.label :category %><br>
    <%= form.select :category, [['Accessories', 1], ['Clothing', 2], ['Electronics', 3]], {}, {:class => 'form-control'} %>
  </div>

  <div class='form-group'>
    <%= form.label :photos %><br>
    <%= form.file_field :photos, multiple: true, :class => 'form-control-file'%>
  </div>

  <div class='form-group'>
    <%= form.label :tags %><br>
    <%= text_area_tag :tags, @item.tags.map{|tag| tag.name}.join(" "), :class => 'form-control', :row => '3' %>
  </div>

  <div class="row justify-content-center">
    <%= form.submit 'Submit', :class => 'btn btn-blue'%>
  </div>

<% end %>
