<div class='container-fluid mt-5'>
  <div class='row justify-content-center'>
    <div class ='col-4'>
      <% if !@item.photos.empty? %>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @item.photos.each_with_index do |photo, i| %>
              <% if i == 0 %>
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <% else %>
                <li data-target="#carouselExampleIndicators" data-slide-to=<%= i.to_s %>></li>
              <% end %>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @item.photos.each_with_index do |photo, i| %>
              <% if i == 0 %>
                <div class="carousel-item active">
                  <%= image_tag(photo, style:'width:100%', :class => 'dblock w-100') %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= image_tag(photo, style:'width:100%', :class => 'dblock w-100') %>
                </div>
              <% end %>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% else %>
        <%= image_tag('default_img.png', style:'width:100%', :class => 'dblock w-100') %>
      <% end %>
    </div>

    <div class = 'col-4'>
      <% if @interaction.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@interaction.errors.count, "error") %> prohibited
            this item from being saved:
          </h2>
          <ul>
            <% @interaction.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h1><%= @item.name %></h1>

      <% if @person.items.include?(@item) %>
        <%= link_to 'Edit Item', edit_item_path(@item) %>
        <%= link_to 'Remove Item', [@item],
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %>
      <% end %>

      <h3>Description</h3>
      <p><%= @item.description %></p>

      <h3>Category</h3>
      <p><%= @item.category %></p>

      <h3>Tags</h3>
      <p>
        <% @item.tags.each do |tag| %>
          <%= link_to ('#' + tag.name), homepage_index_path(:term => tag.name) %>
        <% end %>
      </p>

      <h3>Location</h3>
      <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/pin-s+ff6666(#{@longitude},#{@latitude})/#{@longitude},#{@latitude},15/400x150?access_token=pk.eyJ1IjoiaGV5aXRzcmlzYWFhYSIsImEiOiJjam96eTRqMWswMnI0M3FwaTMyZW9zbjJsIn0.5a2PnnqR8pKh1MaG3A6uxQ" %>

      <% if @valid_interaction %>
          <h3>Borrow Item</h3>
          <%= form_with(model: [@item, @item.interactions.build], local: true) do |form| %>
              <div class="form-group" >
                <%= form.label :start_date %><br>
                <%= form.date_field :start_date, :class => 'form-control' %>
              </div>

              <div class="form-group" >
                <%= form.label :end_date %><br>
                <%= form.date_field :end_date, :class => 'form-control' %>
              </div>

              <%= form.hidden_field :request_type, :value => 0 %>

              <div class="row justify-content-center">
                <%= form.submit 'Request Item', :class => 'btn btn-blue'%>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
