<h1><%= @item.name %></h1>

<h3>Description</h3>
<p><%= @item.description %></p>

<h3>Start Date</h3>
<p><%= @item.start_date %></p>

<h3>End Date</h3>
<p><%= @item.end_date %></p>

<h3>Category</h3>
<p><%= @item.category %></p>


<% if @valid_transaction %>
	<%= button_to 'Request this Item', {controller: :items, action: 'request_item', id: @item.id}, method: :post %>
<% else %>
    <%= button_to 'Request this Item', {}, disabled: true %>
<% end %>


<br>
<%= link_to 'Back', :back %>

<% if @person.items.include?(@item) %>
	<%= link_to 'Remove Item', [@item],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
