<h1><%= @item.name %></h1>

<h3>Description</h3>
<p><%= @item.description %></p>

<h3>Start Date</h3>
<p><%= @item.start_date %></p>

<h3>End Date</h3>
<p><%= @item.end_date %></p>

<h3>Category</h3>
<p><%= @item.category %></p>

<h3>Photos</h3>
<p>
  <% if !@item.photos.empty? %>
      <% @item.photos.each do |photo| %>
        <div style="width:400px; height:auto">
            <%= image_tag(photo, style:'width:100%')%>
        </div>
      <% end %>
  <% else %>
    <p>No Photos!</p>
  <% end %>
</p>

<% if @valid_transaction %>
    <%= form_with model: @item, local: true do |form| %>
        <p>
          <%= form.label :start_date %><br>
          <%= form.date_field :start_date%>
        </p>

        <p>
          <%= form.label :end_date %><br>
          <%= form.date_field :end_date%>
        </p>

        <p>
          <%= form.submit "Request Item" %>
        </p>
    <% end %>
<% end %>


<br>
<%= link_to 'Back', homepage_index_path %>

<% if @person.items.include?(@item) %>
	<%= link_to 'Remove Item', [@item],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
