<h1><%= @item.name %></h1>

<h3>Description</h3>
<p><%= @item.description %></p>

<h3>Start Date</h3>
<p><%= @item.start_date %></p>

<h3>End Date</h3>
<p><%= @item.end_date %></p>

<h3>Category</h3>
<p><%= @item.category %></p>


<% if @person.items.include?(@item) %>
	<%= button_to 'Request this Item', {}, disabled: true %>
<% else %>
	<% if Transaction.where(item_id: @item.id).order("date").count > 0 %>
		<% if Transaction.where(item_id: @item.id).order("date").last.requested? %>
			<%= button_to 'Request this Item', {}, disabled: true %>
		<% else %>
			<%= button_to 'Request this Item', {controller: :items, action: 'request_item', id: @item.id}, method: :post %>
		<% end %>
	<% else %>
		<%= button_to 'Request this Item', {controller: :items, action: 'request_item', id: @item.id}, method: :post %>
	<% end %>
<% end %>


<br>
<%= link_to 'Back', :back %>

<% if @person.items.include?(@item) %>
	<%= link_to 'Remove Item', [@item],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>