<div class="container-fluid mt-3">
    <h1> <%= @owner.fname %>'s Reviews </h1>
    <h2> Average Community Rating: <%= @owner.rating.round(2) %>/5.0</h2>

  <div class="row">
    <% if @reviews %>
      <% @reviews.each_with_index do |item, index| %>
        <div class="col-sm-3">
          <div class="card border-0">
            <div class="card-body">
              <% reviewer = Person.find(Interaction.find(item.interaction_id).person_id) %>
              <h5>Review by <%= reviewer.fname %> <%= reviewer.lname %>: <%= item.rating %>/5</h5>
              <p><%= item.comment %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
