<!DOCTYPE html>
<html>
  <head>
    <title>CSC444Proj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <!-- header start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue stick-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">LNDR</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to 'Profile  ', profile_path, :class => 'navbar-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit Login Settings  ', edit_user_registration_path, :class => 'navbar-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Your Items  ", items_path(:your_items => 'true'), :class => 'navbar-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Borrowed Items  ", items_path(:your_items => 'false'), :class => 'navbar-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'History  ', homepage_history_path, :class => 'navbar-link' %>
          </li>
          <li class="nav-item">
            <% if @items_due_within_time_period_string %>
              <%= link_to 'Notifications (' + @items_due_within_time_period_string + ')  ',  homepage_notifications_path, :class => 'navbar-link' %>
            <% else %>
              <%= link_to 'Notifications  ',  homepage_notifications_path, :class => 'navbar-link' %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class=> 'navbar-link' %>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!-- header end -->

    <%= yield %>
    
  </body>
</html>
