<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

            <div class="field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" , :readonly => true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field form-group">
              <%= f.label :current_password %><span class="text-error"> *</span>
              <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
              <% resource.errors[:current_password].each do |msg| %>
                <small class="form-text text-error">Current Password <%= msg %></small>
              <% end %>
            </div>

            <div class="field form-group">
              <%= f.label :password %> <i>(<%= @minimum_password_length %> characters minimum)</i><span class="text-error"> *</span>
              <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
              <% resource.errors[:password].each do |msg| %>
                <small class="form-text text-error">Password <%= msg %></small>
              <% end %>
            </div>

            <div class="field form-group">
              <%= f.label :password_confirmation %><span class="text-error"> *</span>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
              <% resource.errors[:password_confirmation].each do |msg| %>
                <small class="form-text text-error">Password Confirmation <%= msg %></small>
              <% end %>
            </div>

            <div class="actions row justify-content-center">
              <%= f.submit "Update", :class => "btn btn-blue" %>
            </div>
          <% end %>

          <div class="mt-5">
            <h3>Cancel my account</h3>
              <p>Unhappy?</p>
              <div class="row justify-content-center">
                <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-blue" %>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
