<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h2>Sign up</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <div class="field form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
              <% resource.errors[:email].each do |msg| %>
                  <small class="form-text text-error">Email <%= msg %></small>
                <% end %>
            </div>

            <div class="field form-group">
              <%= f.label :password %><i> (<%= @minimum_password_length %> characters minimum)</i>
              <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control' %>
              <% resource.errors[:password].each do |msg| %>
                  <small class="form-text text-error">Password <%= msg %></small>
                <% end %>
            </div>

            <div class="field form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control' %>
              <% resource.errors[:password_confirmation].each do |msg| %>
                  <small class="form-text text-error">Password Confirmation <%= msg %></small>
                <% end %>
            </div>

            <div class="actions row justify-content-center">
              <%= f.submit "Continue", :class => 'btn btn-blue' %>
            </div>
          <% end %>

          <div class="mt-3">
            <p>Already have an account? <%= render "devise/shared/links" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
